@import '~bootstrap-css-only/css/bootstrap.min.css';
@import 'assets/styles/Antd/antd.cleanui';
@import 'assets/styles/CleanUI/cleanui';
@import 'assets/styles/Bootstrap/bootstrap.cleanui';
@import 'assets/styles/Chartist/chartist.cleanui';
@import 'assets/styles/Nprogress/nprogress.cleanui';
@import 'assets/styles/Rcdrawer/rcdrawer.cleanui';
@import '~c3/c3.min.css';
//Button Colors

.btn_primary {
	background-color: #429c21;
	border: 1px solid #429c21;
	&:hover {
		opacity: 0.75;
		background-color: #429c21;
		border: 1px solid #429c21;
	}
}

//Text Colors

.text_primary {
	color: #337d18;
}

.box {
	width: 100%;
	margin: 0 auto;
	// border: 1px solid red;
	padding: 0 20px;
	&__lg {
		max-width: 1040px;
	}
}
.nav-container {
	background-color: #267509;
	padding: 10px;
}

.logo {
	width: 120px;
	height: 31px;

	margin: 16px 24px 16px 0;
	float: left;
}
.navbar-light .navbar-nav .active > .nav-link {
	color: rgb(255, 255, 255);
}

.footer {
	margin-top: 50px;
	background-color: #267509;
	padding: 40px 0;
	&__title {
		color: #fff;
		font-size: 1.2rem;
		line-height: 1.4;
		letter-spacing: 1.1px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: 600;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			color: black;
			font-size: 1rem;
		}
	}
	&__content {
		color: black;
		font-size: 1rem;
	}
	&__contact {
		margin-top: 10px;
		display: flex;
		p {
			color: black;
			font-size: 1rem;
			margin-bottom: 0;
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}
.search_bar {
	.ant-input:hover {
		border-color: #3ba615;
	}
	.ant-btn {
		height: unset;
		padding: 15px;
	}
	.ant-btn-primary {
		background-color: #3ba615;
		border-color: rgb(59, 166, 21);
	}
}
.navbar-light .navbar-nav .nav-link {
	font-size: 15px;
	text-transform: uppercase;
}

.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
	color: #337d18 !important;
}
.ant-tabs-ink-bar {
	background-color: #267509 !important;
}
.navbar-collapse {
	justify-content: flex-end;
}
