@import '~bootstrap-css-only/css/bootstrap.min.css';
@import 'assets/styles/Antd/antd.cleanui';
@import 'assets/styles/CleanUI/cleanui';
@import 'assets/styles/Bootstrap/bootstrap.cleanui';
@import 'assets/styles/Chartist/chartist.cleanui';
@import 'assets/styles/Nprogress/nprogress.cleanui';
@import 'assets/styles/Rcdrawer/rcdrawer.cleanui';
@import '~c3/c3.min.css';
//Button Colors

.btn_primary {
	background-color: #429c21;
	border: 1px solid #429c21;
	&:hover {
		opacity: 0.75;
		background-color: #429c21;
		border: 1px solid #429c21;
	}
}

//Text Colors

.text_primary {
	color: #337d18;
}
